#root,
#app-container,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#app-content {
  flex: 1 0 auto;
}
.main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.main-title::after {
  content: "";
  height: 3px;
  width: 50px;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 25px);
  background-color: #dc3545 !important;
}
.main-title::before {
  content: "";
  height: 1px;
  width: 150px;
  position: absolute;
  left: calc(50% - 75px);
  bottom: 0;
  background-color: #ddd;
}
